<section>
  
  <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Entreprises</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button mat-button aria-label="Ajouter" routerLink="/sidenav/ajout-entreprise">Ajouter une entreprise</button>
        </div>
      </div>
  </div> 
  <!--
<app-fiche-entreprise [entreprise]=""></app-fiche-entreprise>-->
  <!-- Cards -->
<div class="container mt-3">
  <div class="row">
    <!--d-flex et align-self-stretch pour que les card aient la meme hauteur malgré leur différent contenu
    https://stackoverflow.com/questions/58228030/bootstrap-4-cards-same-height-and-bottom-justified-->
    <div class="col-md-12 col-lg-6 d-flex align-self-stretch" *ngFor="let e of entreprises">
      <div class="card list-group-item-light" (click)="onCardClick()" >
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4">
              <img src="../../assets/img/logofakecie_300x214.png" alt="Pictogramme entreprise"
                class="img-fluid">
            </div>
            <div class="col-md-7">
              <ul class="list-group">
                <li class="list-group-item"><span class="fw-bold">{{e.name}}</span></li>
                <li class="list-group-item"><span>{{e?.address}} <br>
                  {{e?.city}} {{e?.postalCode}}</span></li>
                <li class="list-group-item"><span>Téléphone: {{e?.contactPhone}} <br>
                  Courriel: {{e?.contactEmail}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

    <app-fiche-entreprise></app-fiche-entreprise>
    <app-formulaire-update-entreprise></app-formulaire-update-entreprise>
  
</section>
