
.example-card {
    max-width: 450px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

h1 {
  color: #707070 ;
  font-weight: 600;
}

img{
  width: 100%;
  margin-right: 2em;
}

.mat-button{
  margin-bottom: 20px;
  background-color: #86a9e6;
  color: #2b497c;
}

/*
.flex-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 5px;
  width: 100%;
}*/

.mat-card{
  display: inline-flex;
  align-items: center;

}

.mat-card-title-group{
  display: flex;
  flex-wrap: wrap;
}

.mat-card-md-image {
  width: 50%; 
}