@import 'src/variables';

.example-card {
    max-width: 450px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

h1 {
  color: $darkgrey;
  font-weight: 600;
}

img{
  width: 100%;
  margin-right: 2em;
}

.mat-button{
  margin-bottom: 20px;
  background-color: $entreprise;
  color: $white;
}

.row{
  justify-content: space-between;
}

.card {
  margin-bottom: 2em;
  height: auto;
}


.list-group{
  --bs-list-group-border-color: rgba(0, 0, 0, 0);
  --bs-list-group-color: #707070; // provenance d'une autre variable
} 

.fw-bold{
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  //padding: 32px 24px;
 // margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  background-color: $white;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;

  }

  //&:before {
   // content: "";
   // position: absolute;
   // z-index: -1;
    //top: -16px;
   // right: -16px;
    //background: #00838d;
    //height: 32px;
    //width: 32px;
    //border-radius: 32px;
    //transform: scale(2);
    //transform-origin: 50% 50%;
    //transition: transform 0.15s ease-out;
  //}

  // &:hover:before {
  //   transform: scale(2.15);
  // }
}