@import 'src/variables';

/* demo angular */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

/* fin demo angular */

h1,
h3 {
  color: $candidat;
  font-weight: bold;
}

h2 {
  margin-left: 8px;
  color: $darkgrey;
  background-color: $white;
  padding: 0.5em 1em;
  width: fit-content;
}

.soustitre-fiche {
  margin-left: 5px;
  font-weight: bold;
}

.titre-candidat {
  margin-top: 2px;
  margin-left: 5px;
  color: $darkgrey;
  font-size: 2.5em;
}

.table-titre {
  width: 100%;
}

.fiche {
  padding: 4em;
  background-color: $white;
}

button:hover{
    background-color: $dark-candidat;
}
.td-fiche {
  border-left: 7px solid $darkgrey;
}

.td-fiche-candidat {
  display: flex;
  border-left: 7px solid $candidat;
  align-items: flex-start;
  flex-wrap: wrap;
}

.subtitle-fiche {
  font-size: large;
  font-weight: bold;
  margin-left: 5px;
}


.txt-fiche {
  margin-left: 5px;
}

.tr-fiche{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.td-candidat-details {
  border-left: 7px solid $candidat;
}

.btn {
  background-color: transparent;
}

.mat-flat-button {
  min-width: 30px;
  padding: 0 5px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

.form-detail {
  margin-top: 5px;
  margin-left: 5px;
  padding: 7px;
  border: 1px #70707031 solid;
}

.form-detail-candidat {
  @extend .form-detail;
  margin-left: 0;
  background-color: $white;
}

.mat-flat-button {
  background-color: $candidat;
  color: #fff;
  min-width: 100px;
}

.btn-control {
  display: flex;
  justify-content: right;
  margin: 10px 0;
}

.btn-annuler {
  margin-right: 10px;

  &:hover {
    color: $white;
  }
}
