
<main>
  <section class="container">
    <div class="demandes-infos">
      <div>
        <h1>Dernières <span class="demandes">demandes</span> de stage</h1>
        <h2 class="titre2"> En attente de validation</h2>
      </div>
      <button class="btn-valid">Valider toutes les demandes</button>
    </div>
  </section>

  <section class="container">
    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="profil" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Profil </th>

          <td mat-cell *matCellDef="let row">
            <span class="vertical-line"></span>
            <mat-icon class="school">school</mat-icon>
            {{row.profil}}
          </td>
        </ng-container>


        <ng-container matColumnDef="etablissement" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Établissement </th>
          <td mat-cell *matCellDef="let row"> {{row.etablissement}} </td>
        </ng-container>


        <ng-container matColumnDef="date" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>


        <ng-container matColumnDef="actions" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let row" class="btn-td">
            <button mat-icon-button color="primary" aria-label="Refuser">
              <!-- <mat-icon>clear</mat-icon> -->
              <span class="refuser">Refuser</span>
            </button>
            <button class="btn-icons"  mat-icon-button color="primary" aria-label="Accepter">
              <!-- <mat-icon>done</mat-icon> -->
              <span class="accepter">Accepter</span>
            </button>
            <button class="btn-icons" mat-icon-button color="primary" aria-label="Visualiser">
              <mat-icon class="visibility">visibility</mat-icon>
            </button>
            <button class="btn-icons" mat-icon-button color="primary" aria-label="Modifier">
              <mat-icon class="edit">edit</mat-icon>
            </button>
            <button class="btn-icons" mat-icon-button color="warn" aria-label="Supprimer">
              <mat-icon class="delete">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>


    </div>
  </section>
</main>
