@import 'src/variables';

h2 {
  margin: 0;
}

table {
  width: 100%;
  margin: 0 auto;

  td,
  th {
    width: 35%;
  }

  th {
    color: $darkgrey;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0.5em;
  }
}

.mat-elevation-z8 {
  margin-top: 3rem;
}

.sec1 {
  margin-bottom: 5rem;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.visibility {
  color: $eye;
}

.edit {
  color: $edit;
}

.delete {
  color: $trash;
}

.refuser {
  color: $refuse;
  background-color: rgba(160, 7, 7, 0.5); //hover du refuser
  padding: 0.4rem;
  border-radius: 5%;
  border: none;
}

.accepter {
  color: $accept;
  background-color: rgba(173, 216, 230, 0.5); //hover du accept
  padding: 0.4rem;
  border-radius: 5%;
  border: none;
}

.btn-td {
  white-space: nowrap;
}

.btn-icons {
  margin: 0 0 0 2rem;
}

.material-icons .school {
  font-size: 24px;
  height: fit-content;
  width: fit-content;
}

.school {
  vertical-align: middle;
  margin-right: 10px;
  color: #70582E;
  background-color: #D6B477;
  border-radius: 10%;
}

.vertical-line {
  display: inline-block;
  border-right: 3px solid $demande;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}

.demandes-infos {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // margin: 0 5% 2rem 5%;

  .demandes {
    color: $demande;
  }

  .titre2 {
    color: $offre;
    margin-top: 0;
  }
}

.btn-valid {
  background-color: $dashboard;
  color: $white;
  font-family: 'lato';
  float: right;

  &:hover {
    background-color: $dark-dashboard;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-active,
.btn-icons {
  width: 100px;
  /* ajustez la largeur en fonction de vos besoins */
  margin-left: 2rem;
}
