<main>
  <section class="sec1">
    <div class="demandes-infos">
      <h2>Dernières <span class="demandes">demandes</span> de stage</h2>
      <h3 class="titre2">En attente de validation</h3>
    </div>
    <div class="btn-right">
      <button mat-raised-button class="btn-valid" (click)="validerToutesDemandes()">Valider toutes les demandes</button>
    </div>
  </section>

  <section>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="titre" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Profil </th>
          <td mat-cell *matCellDef="let stage">
            <span class="vertical-line"></span>
            <mat-icon class="school">school</mat-icon>
            {{stage.titre | titlecase}}
          </td>
        </ng-container>

        <ng-container matColumnDef="enterprise" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Établissement </th>
          <td mat-cell *matCellDef="let stage"> {{stage.enterprise.name | titlecase }} </td>
        </ng-container>

        <ng-container matColumnDef="startDate" class="text-underline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let stage"> {{stage.startDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="actions" class="text-underline actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let stage" class="btn-td">
            <div class="btn-group1">
              <button class="btn-active" class="refuser" (click)="refuserStage(stage)" *ngIf="stage.active">
                Refuser</button>
              <button class="btn-active" class="accepter" (click)="accepterStage(stage)" *ngIf="!stage.active">
                Accepter</button>

              <!-- (click)="openDetailsDialog(stage)" -->
              <!-- (click)="openDialog(stage)" -->

              <button class="btn-icons" mat-icon-button color="primary" aria-label="Visualiser">
                <mat-icon class="visibility" routerLink="/sidenav/fiche-demandestage/{{stage._id}}">visibility
                </mat-icon>
              </button>
              <button class="btn-icons" mat-icon-button color="primary" aria-label="Modifier">
                <mat-icon class="edit" routerLink="/sidenav/modifier-demandestage">edit</mat-icon>
              </button>
              <button class="btn-icons" mat-icon-button color="warn" aria-label="Supprimer">
                <mat-icon class="delete" (click)="onDeleteClick(stage)">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let stage; columns: displayedColumns;" [class.inactive]="!stage.active"></tr>
      </table>
    </div>
  </section>
</main>
