@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'src/variables';

/*$color1: red;*/
$line-height: normal;

@font-face {  
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

.flex-container {
    display: flex;
    align-items: center;
}

span, p {
    color: $offre;
}

h2{
    margin: 0;
}

h3, p {
    line-height: $line-height;
    font-family: Lato;
}

button {
    float: right;
    font-family: Lato;
}

table {
    align-content: center;
    margin-top: 5rem;
    width: 100%;
    border-left-color: $offre;
    font-family: Lato;
    font-size: 8px;
  }


.btn {
    display: inline-table;
    font-size: 10px;
    margin-left: 12px;
    min-width: 80px;
    font-family: Lato;
}

// mat-icon {
//     margin-left: 12px;
// }

th {
    font-weight: bolder;
    border-bottom: 5px;
    font-family: Lato;
    width: fit-content;
}

.delete {
    color: $trash;
    display: inline-table;
}

.visibility {
    color:$eye;
    display: inline-table;
}

.edit {
   color: $edit;
   display: inline-table;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    // text-decoration: underline; 
}

// mat-row, mat-header-row,   td.mat-cell, td.mat-footer-cell {
//     border-bottom-color: #f44336;
// }

.refuser {
    color: $refuse;
    background-color: rgba(160, 7, 7, 0.5);
    padding: 0.1rem;
    float: left;
    display: table-cell;
    font-size: 14px;
    min-width: 160px;
    font-family: Lato;
}

.accepter {
    color:$accept;
    background-color: rgba(173, 216, 230, 0.5);
    padding: 0.1rem;
    float: left;
    display: table-cell;
    font-size: 14px;
    margin-left: 20px;
    min-width: 160px;
    margin-top: auto; 
    font-family: Lato;
}

.btn-offre-stage {
    color: $white;
    background-color: $dashboard;
    font-family: Lato;
    &:hover{
        background-color: $dark-dashboard;
      }
}
/*
.school {
    float: left;
    margin-right: 10px;
    color: rgb(138, 120, 21);
}*/

.work {
    background-color: $offre; //rgba(160, 7, 7, 0.5)
    float: left;
    margin-right: 10px;
    color: #cf7174; //couleur pour icone
    border-radius: 10%;
}

.border-left {
    border-left: solid;
    border-left-width: 5px;
    border-left-color:  $offre;
    border-left-style: groove;
}

hr {
    height: 10px;
    width: 50%;
}

.ligne-vertical {
   height: 30px;
   border-left: 6px solid transparent;
   margin-left: -3px;
}

.titre2{
    color: $offre;
    margin-top:0;
  }


