<!--
<h2><b>Dernières <span>offres</span> de stage</b></h2>
<p><b>En attente de validation</b></p>

<a class="btn-valid" routerLink="/sidenav/fiche-offre-stage">Ajouter une offre</a>-->

<div class="table-container">

  <div>
    <h2>Dernières <span class="demandes">offres</span> de stage</h2>
    <h3 class="titre2"> En attente de validation</h3>
    <button mat-raised-button color="" class="btn-offre-stage" (click)="validerToutesOffres()">Valider toutes les offres</button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="poste">
        <th mat-header-cell *matHeaderCellDef><b> Poste </b></th><br><hr>
        <td mat-cell *matCellDef="let stage" class="border-left"><span class="ligne-vertical"></span>
          <mat-icon class="material-icons md-48" class="work">work</mat-icon>
          <!-- <b>Intégrateur Web</b><br>Acolyte communication</td> --> 
          {{ stage.title | titlecase }}
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="établissement">
        <th mat-header-cell *matHeaderCellDef><b> Établissement </b></th><br><hr>
        <!-- <td mat-cell *matCellDef="let element"> {{element.name}} </td> -->
        <td mat-cell *matCellDef="let stage" > {{ stage.enterprise }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef><b> Date </b></th><br><hr>
        <!-- <td mat-cell *matCellDef="let element"> {{element.weight}} </td> -->
        <td mat-cell *matCellDef="let stage"> {{ stage.createdAt | date }}  </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><b> Actions </b></th>
        <td mat-cell *matCellDef="let stage">
          <button mat-raised-button color="" class="refuser" (click)="refuserStage(stage)" *ngIf="stage.active">Refuser</button>
          <button mat-raised-button color="" class="accepter" (click)="accepterStage(stage)" *ngIf="!stage.active">Accepter</button>
          <button mat-icon-button aria-label="Supprimer">
            <span class="delete"><mat-icon (click)="onDeleteClick(stage)">delete</mat-icon></span>
          </button>
          <button mat-icon-button aria-label="Modifier">
            <span class="edit"><mat-icon (click)="openDialog(stage)">edit</mat-icon></span>
          </button>
          <button mat-icon-button aria-label="visibility" (click)="openDetailsDialog(stage)">
            <span class=visibility><mat-icon>visibility</mat-icon></span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>


