/* example angular*/
.example-card {
  max-width: 350px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
/* fin exemple angular */
h1 {
    font: 600 24px/28px "Open Sans";
    color: gray;
  }

h2 {
  color: white;
}

.btn__button {
  background-color: #a00768;
  color: #fff;
  margin-bottom: 20px;
   &:hover{
    background-color: #4a1150;
   }
}

/*
.liste-candidats {
  margin-bottom: 5px;
  display: inline-flex;
  justify-content: space-around;
  margin: 15px;
}

mat-card-title {
  display: flex;
  justify-content: flex-start;
  background-color: #a00768;
}

mat-card-content {
  display: inline-flex;
  justify-content: center;
  font-family: "Open Sans";
}
*/

.material-icons{
  color: #c58db1;
  background-color: #a00768;
  font-size: 100px;
  height: fit-content;
  width: fit-content;
  margin-right: 1rem;
}

.mat-card-title {
  margin-bottom: 0px;
}

.mat-card-title-group {
  margin-bottom: 16px;
}

.mat-card-subtitle{
  margin-bottom: 0px;
}

.flex-candidat{
  display: flex;
  flex-wrap: wrap;
}






