<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container">
  <app-tableau-gestion-demande-stage></app-tableau-gestion-demande-stage>

</div>
<app-sidenav></app-sidenav>
<app-header></app-header>

<app-login></app-login>
<!-- <app-tableau-affichage-demande-stage></app-tableau-affichage-demande-stage> -->
<!-- <app-tableau-affichage-offre-stage></app-tableau-affichage-offre-stage>
<app-candidats></app-candidats>
<app-ajout-candidat></app-ajout-candidat> -->

<!-- <app-formulaire-stage></app-formulaire-stage> -->
<router-outlet></router-outlet>

