@import 'src/variables';

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #ebebeb;

  .image-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebebeb;
    padding: 2rem;

    .login-title {
      font-family: 'lato', sans-serif;
      font-weight: 800;
      font-size: 4rem;
      margin: 1rem 0;
      padding-right: 7rem;
    }

    .login-text {
      font-family: 'lato', sans-serif;
      font-weight: 200;
      text-align: left;
    }

    p {
      text-align: left;
    }

    form {
      width: 100%;

      .mat-form-field {
        display: block;
        width: 100%;
        max-width: 550px;
      }

      input {
        margin: 0.6rem 0;
      }
    }

    button.login-btn {
      width: 20%;
      margin-left: auto;
      margin-right: 0;
      background-color: $dashboard;

      &:hover {
        background-color: $dark-dashboard;
      }
    }
  }

  @media screen and (max-width: 760px) {
    flex-direction: column;

    .image-container {
      height: 50%;
      width: 100%;

      .login-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .form-container {
      width: 100%;
      height: 50%;
      margin-left: 2rem;

      .mat-form-field {
        width: 80%;
        max-width: none;
      }

      input {
        margin: 0.6rem 1rem;
      }
    }
  }
}
