<div class="login-wrapper">
  <div class="image-container">
    <img class="login-image" src="../../assets/img/imagelogin.png" alt="Image de connexion">
  </div>
  <div class="form-container">
    <h1 class="login-title">Identification</h1>
    <p class="login-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, temporibus!</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nom et Prénom</mat-label>
        <input matInput formControlName="username" type="text" placeholder="Votre nom et prénom" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Votre email" required>
      </mat-form-field>


      <button class="login-btn" mat-raised-button color="primary" type="submit">Login</button>

    </form>
  </div>
</div>
