
<section id="candidat-details">
    <ng-container>


<button mat-raised-button class="delete" style="float: right; "  (click)="(candidat._id)"><mat-icon> cancel_presentation</mat-icon></button>
<button mat-raised-button class="cancel" style="float: right; "  (click)=" (candidat.name)"><mat-icon> border_color</mat-icon></button>
<button mat-raised-button class="update" style="float: right; "  (click)="(candidat._id)"><mat-icon>check</mat-icon></button>

<ng-container class="container-fluid" *ngFor="let candidat of candidats"></ng-container>
<table class="table-titre">
    <tr>
            <td class="td-candidat-details">
              <p class="soustitre-fiche">Candidat</p>
              <h1 class="titre-candidat">{{candidat.name}}</h1>
              <h1 class="jobTitle">{{candidat.jobTitle}}</h1>
            </td>
          </tr>
        
    </table>

    <div class="container fiche">
          <h1>Courte présentation</h1>
          <p>{{candidat.description}}</p>
          

          <br>
          <h3>Informations personnelles</h3>


              <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr class=" tr-fiche">
                        <td class="td-fiche">
              <p class="subtitle-fiche">Adresse: </p>
              <p class="txt-fiche">{{candidat.address}}</p>
            </td>
            
            
             <td class="td-fiche">
                <p class="subtitle-fiche">Ville: </p>
                <p class="txt-fiche">{{candidat.city}}</p>
            </td>

            </tr>

            <br>

            <tr class=" tr-fiche">
            <td class="td-fiche">
                <p class="subtitle-fiche">Province: </p>
                    <p class="txt-fiche">{{candidat.province}}</p>
                </td>


                    <td class="td-fiche">
                <p class="subtitle-fiche">Code postal </p>
                    <p class="txt-fiche">{{candidat.postalCode}}</p>
                </td>
                </tr>
                <br>

                   
                <tr class=" tr-fiche">
                 <td class="td-fiche">
                <p class="subtitle-fiche">Téléphone: </p>
                    <p class="txt-fiche">{{candidat.phone}}</p>
              
                </td>

                    <td class="td-fiche">
                <p class="subtitle-fiche">Courriel: </p>
                    <p class="txt-fiche">{{candidat.email}}</p>
                </td>
            </tr>
            
        
        </table>
    </form>
          </div>

    </ng-container>
</section>


    


    
    
  
  





