h1,h2,h3{
    color: #86a9e6 ;
    font-weight: bold;
}

.example-form{
    min-width: 150px;
    max-width: 500px;
    width:100%

}

.example-full-width{
    width:100%
}

td{
    padding-right:8px;
}

.td-fiche{
    border-left: 7px solid #a00768 ;
}
.txt-fiche{
    margin-left:5px;
    font-style:italic
}

.tr-fiche{
    margin-bottom: 20px;
}