
<body>
    <mat-form-field appearance="fill" class="full-width"><h1>Ajouter un candidat</h1></mat-form-field>

<form >
    <button id="btn__boutonAjoutCandidat" style="float: right; " matSuffix type="submit" mat-raised-button><mat-icon>save</mat-icon>Sauvegarder</button>
    <button id="btn__boutonCancelCandidat" style="float: right; " matSuffix type="cancel" mat-raised-button><mat-icon>cancel</mat-icon>Annuler</button>
    <br>

   <div class="container">
    <div class="nomPrenom"><label id="prenom" for="name">Nom et prénom:</label>
    <mat-form-field >
        <input name="name" [(ngModel)]="candidat.name" name="name" #name="ngModel">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.hasError('required')">Champ obligatoire</mat-error>
 
    </mat-form-field>
    </div>

    <div><label id="job" for="name">Poste: </label>
    <mat-form-field >
        <input name="jobTitle" [(ngModel)]="candidat.jobTitle" name="jobTitle" #jobTitle="ngModel">
        <mat-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched) && jobTitle.hasError('required')">Champ obligatoire</mat-error>
      
    </mat-form-field>
    </div>
    </div>

    <div class="container-fluid">
        
        <div><label id="name" for="name"><h2>Courte présentation</h2></label></div>
        <mat-form-field >
        <textarea class="presentation" matInput name="description" [(ngModel)]="candidat.description" name="description" #description="ngModel" cols="60px" rows="10px"></textarea>
        <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('required')">Champ obligatoire</mat-error>
       
    </mat-form-field>
        
    <div class="container-info-perso">
        <label id="name" for="name"><h3>Informations personnelles</h3></label>

    <div><label id="adresse" for="name">Adresse</label></div>
        <mat-form-field appearance="fill" class="full-width">
            <input name="address" [(ngModel)]="candidat.address" name="address" #address="ngModel">
            <mat-error *ngIf="address.invalid && (address.dirty || address.touched) && address.hasError('required')">Champ obligatoire</mat-error>
          
        </mat-form-field>

    <div><label id="ville" for="name">Ville</label></div>
        <mat-form-field appearance="fill" class="full-width">
            <input name="city" [(ngModel)]="candidat.city" name="city" #city="ngModel">
            <mat-error *ngIf="city.invalid && (city.dirty || city.touched) && city.hasError('required')">Champ obligatoire</mat-error>
            
        </mat-form-field>

    <div><label id="province" for="name">Province</label></div>
        <mat-form-field appearance="fill" class="full-width">
            <input name="province" [(ngModel)]="candidat.province" name="province" #province="ngModel">
            <mat-error *ngIf="province.invalid && (province.dirty || province.touched) && province.hasError('required')">Champ obligatoire</mat-error>
          
        </mat-form-field>

    <div><label id="codePostale" for="name">code postale</label></div>
        <mat-form-field appearance="fill" class="full-width">
            <input name="postalCode" [(ngModel)]="candidat.postalCode" name="postalCode" #postalCode="ngModel">
            <mat-error *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched) && postalCode.hasError('required')">Champ obligatoire</mat-error>
            
            
        </mat-form-field>

        <div class="container-coordonnees">

    <div><label id="telephone" for="name">Téléphone</label></div>
        <mat-form-field appearance="fill" class="full-width">
            <input name="phone" [(ngModel)]="candidat.phone" name="phone" #phone="ngModel">
            <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.hasError('required')">Champ obligatoire</mat-error>
           
           
        </mat-form-field>

        <div><label id="email" for="name">Courriel</label></div>
    
        <mat-form-field appearance="fill" class="full-width">
            <input name="email" [(ngModel)]="candidat.email" name="email" #email="ngModel">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.hasError('required')">Champ obligatoire</mat-error>
            
        </mat-form-field>
    </div>
    </div>
    </div>  
    <br>
    <button id="btn__boutonAjoutCandidat" style="float: right; " matSuffix type="submit" mat-raised-button><mat-icon>save</mat-icon>Sauvegarder</button>
    <button  id="btn__boutonCancelCandidat" style="float: right; " matSuffix type="cancel" mat-raised-button><mat-icon>clear</mat-icon>Annuler</button>

</form>
</body>