@import 'src/variables';

/* demo angular */
.example-form {
  /* min-width: 150px;
   max-width: 500px;*/
   width: 100%;
}
 
.example-full-width {
   width: 100%;
}

.input__candidat{
  width: 100%;
}

td {
   padding-right: 8px;
}

.example-button-row {
   display: table-cell;
   max-width: 600px;
}

/* fin demo angular */

h1,h2,h3{
   color: $candidat;
   font-weight: bold;
}

button:hover{
  background-color: $dark-candidat;
  ;
}

img{
   max-width: 100%;
   width:"150px";
}

.flex-entete{
  display: flex;
  align-items: center;
}
 
.subtitle-fiche{
  font-size: large;
  font-weight: bold;
  margin-left: 5px;
}

.soustitre-candidat{
  @extend .subtitle-fiche;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.soustitre-fiche{
   margin-left: 5px;
   font-weight: bold;
}

.titre-candidat{
   margin-top: 2px;
   margin-left: 5px;
   color: $darkgrey;
   font-size: 2.5em;
}

.form-header{
   margin-bottom: 7em;
}

.fiche{
   padding: 4em;
   background-color: $white;
}

.td-fiche{
   border-left: 7px solid $darkgrey;
}

.td-fiche-candidat{
  display: flex;
  border-left: 7px solid $candidat;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.txt-fiche{
   margin-left: 5px;
   font-style: italic;
}

.tr-fiche{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
/*
.person-contact-fiche{
   font-weight: bold;
   font-size: x-large;
}*/

.material-symbols-outlined {
 font-variation-settings:
 'FILL' 0,
 'wght' 400,
 'GRAD' 0,
 'opsz' 48
}

.form-detail{
   margin-top: 5px;
   margin-left: 5px;
   padding: 7px;
   border: 1px #70707031 solid;
}

.form-detail-candidat{
   @extend .form-detail;
   margin-left: 0;
   background-color: $white;
}

.mat-flat-button{
  background-color: $candidat;
  color: #fff;
  min-width: 100px;
      &:hover {
      background-color: $dark-candidat;            
      }
}

.btn-control{
   display: flex;
   justify-content: right;
   margin: 10px 0;
}

.btn-annuler{
  margin-right: 10px;
  &:hover{
      color: $white;
  }
}



/*khaled*/
/*
h1 {
  font: 600 24px/60px "Open Sans";
  color: #6b0fb3;
  font-family: "Open Sans";
}


h2 {
  font: 600 24px/30px "Open Sans";
}

form {
  min-width: 50px;
  margin-left: 50px;
}

.full-width {
  width: 50%;
  margin-right: 5px;
  border-left: solid;
}


h2, h3 {
  color:
  rgb(66, 216, 191);
  font-family: "Open Sans";
}

.container-coordonnees {
  position: absolute;
  right: 30px;
  width: 40%;
  top: 600px;
  float: right;
}

#btn__boutonAjoutCandidat {
  color: #fff;
  background-color: #7f2985;
}

#btn__boutonCancelCandidat {
  color: #666565;
  background-color: #eae9e9;
}

*/
