<mat-card> 
    <div fxLayout="row wrap">
    <div class="row">
        
       
        <mat-card> 
                    <div class="form">
                        <mat-icon>feuille</mat-icon>
                    </div>
                    <div class="middle1">
                        <p>Demandes de stage</p>
                        <p>125</p>
                    </div>
                    <div class="fin"></div>
                </mat-card>
            </div>
               <mat-card> 
                    <div class="paperPlane">
                        <mat-icon>send</mat-icon>
                    </div>
                    <div class="middle2">
                    <p>Offres de stage</p>
                    <p>58</p>
                    </div>
                    <div class="fin2"></div>
                </mat-card>
        
                <mat-card> 
                <div class="row">
                    <div class="user1">
                        <mat-icon>user</mat-icon>
                    </div>
                    <div class="user2">
                        <p>Candidats</p>
                        <br>
                        <p>125</p>
                    </div>
                    <div class="middle3"></div>
                    <div class="middle4"></div>
                    <div class="fin3">
                        <p>Candidats</p>
                        <br>
                        <p>125</p>
                    </div>
                </div>
            </mat-card> 
           
            
        </div>
   
  

</mat-card>
