
<!--Composant groupe cards
créer par Khaled Belkacemi-->

<!--essai ange-->
<div class="row">
  <div class="card mb-3 card__demande">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>event_note</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Demandes de stage</h5>
          <p class="card-text">125</p>
        </div>
      </div>
      <div class="col-md-2" id="demande">
      </div>
    </div>
  </div>
  <div class="card mb-3 card__offre">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>near_me</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Offres de stage</h5>
          <p class="card-text">125</p>
        </div>
      </div>
      <div class="col-md-2" id="offre">
      </div>
    </div>
  </div>
  <div class="card mb-3 card__candidat">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>person</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Candidats</h5>
          <p class="card-text">58</p>
        </div>
      </div>
      <div class="col-md-2" id="candidat">
      </div>
    </div>
  </div>
  <div class="card mb-3 card__entreprise">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>business_center</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Entreprises</h5>
          <p class="card-text">25</p>
        </div>
      </div>
      <div class="col-md-2" id="entreprise">
      </div>
    </div>
  </div>
</div>



<!--Khaled
<mat-card>
  <div fxLayout="row wrap">
    <div class="row">
      <mat-card>
        <div class="form">
          <mat-icon>feuille</mat-icon>
        </div>
        <div class="middle1">
          <p>Demandes de stage</p>
          <p>125</p>
        </div>
        <div class="fin"></div>
      </mat-card>
    </div>
    <mat-card>
      <div class="paperPlane">
        <mat-icon>send</mat-icon>
      </div>
      <div class="middle2">
        <p>Offres de stage</p>
        <p>58</p>
      </div>
      <div class="fin2"></div>
    </mat-card>

    <mat-card>
      <div class="row">
        <div class="user1">
          <mat-icon>user</mat-icon>
        </div>
        <div class="user2">
          <p>Candidats</p>
          <br>
          <p>125</p>
        </div>
        <div class="middle3"></div>
        <div class="middle4"></div>
        <div class="fin3">
          <p>Entreprises</p>
          <br>
          <p>125</p>
        </div>
      </div>
    </mat-card>
  </div>
</mat-card>-->
