
<!--Composant groupe cards
créer par Khaled Belkacemi-->

<div class="row">
  <div class="card mb-3 card__demande">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>event_note</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Demandes de stage</h5>
          <p class="card-text">125</p>
        </div>
      </div>
      <div class="col-md-2" id="demande">
      </div>
    </div>
  </div>
  <div class="card mb-3 card__offre">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>near_me</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Offres de stage</h5>
          <p class="card-text">125</p>
        </div>
      </div>
      <div class="col-md-2" id="offre">
      </div>
    </div>
  </div>
  <div class="card mb-3 card__candidat">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>person</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Candidats</h5>
          <p class="card-text">58</p>
        </div>
      </div>
      <div class="col-md-2" id="candidat">
      </div>
    </div>
  </div>
  <div class="card mb-3 card__entreprise">
    <div class="row g-0 item__align">
      <div class="col-md-3 icon__align">
        <mat-icon>business_center</mat-icon>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Entreprises</h5>
          <p class="card-text">25</p>
        </div>
      </div>
      <div class="col-md-2" id="entreprise">
      </div>
    </div>
  </div>
</div>
