
.container-1{
    width: 25%;
    }
    .container-2{
        width: 50%;
        }
        .container-3{
            width: 25%;
            }
    
    
    p {
        font: 300 16px/24px "Open Sans";
      }
    
      .middle1 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #986D22;
        
        
      }
    
      .fin {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #cd9635;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
       
      }
      
    
    
      .middle2 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #A00707;
      }
      
      .fin2 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #BB2026;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    
      .user1 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #7F2987;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      
      .user2 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #ad46b6;
      }
      
      .middle3 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #7F2987;
      }
      
      .middle4 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #86A9E6;
      }
      
      .fin3 {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #4950ae;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    
      //------------------------------------
    
      .paperPlane {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #A00707;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    
      .form {
        color: white;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #986D22;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    
      //------------------
      