<ul>
  <li><button class="btn-rouge" routerLink="/sidenav/formulaire-offre-ajout-stage">+ Ajouter une offre de stage</button></li> <!--id="btn__button1"-->
  <li><button class="btn-jaune"routerLink="/sidenav/formulairestage">+ Ajouter une demande de stage</button></li><!--id="btn__button2"-->
  <li><button class="btn-bleu" routerLink="/sidenav/ajout-entreprise">+ Ajouter une entreprise</button></li><!--id="btn__button3"-->
  <li><button class="btn-violet" routerLink="/sidenav/ajout-candidat">+ Ajouter un candidat</button></li><!--id="btn__button4"-->
</ul>
