@import 'src/variables';

ul {
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 1em 0;
  }
  li {
      font-size: 60%;
      padding: 0 10px;
    }

    @mixin header-bouton($border-color: $offre, $color: $dark-offre){
      padding: 0px 7px;
      border: $border-color solid 1px;
      background: transparent;
      border-radius: 8px;
      color: $color;
    }

    .btn-rouge {
      @include header-bouton()
    }

    .btn-rouge:hover{
       background-color: $dark-offre;
       color: $white;
    }

    .btn-jaune {
      @include header-bouton($demande, $dark-demande)
    }

     .btn-jaune:hover{
       background-color: $dark-demande;
       color: $white;
    }


    .btn-bleu{
      @include header-bouton($entreprise, $darker-entreprise)
    }

     .btn-bleu:hover{
       background-color: $dark-entreprise;
       color: $white;
    }


    .btn-violet{
      @include header-bouton($candidat, $dark-candidat)
    }

     .btn-violet:hover{
       background-color: $dark-candidat;
       color: $white;
    }


    