ul {
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 1em 0;
  }
  li {
      font-size: 60%;
      padding: 0 10px;
    }

    @mixin header-bouton($border-color: #bb2026, $color: #821519){
      padding: 7px;
      border: $border-color solid 1px;
      background: transparent;
      border-radius: 8px;
      color: $color;
    }

    .btn-rouge {
      @include header-bouton()
    }

    .btn-rouge:hover{
       background-color: #821519;
       color: #fff;
    }

    .btn-jaune {
      @include header-bouton(#cb912b, #986d22)
    }

     .btn-jaune:hover{
       background-color: #986d22;
       color: #fff;
    }


    .btn-bleu{
      @include header-bouton(#86a9e6, #2b497c)
    }

     .btn-bleu:hover{
       background-color: #5e7eb5;
       color: #fff;
    }


    .btn-violet{
      @include header-bouton(#7f2987, #4a1150)
    }

     .btn-violet:hover{
       background-color: #4a1150;
       color: #fff;
    }


    