<!-- <pre>{{stageId | json}}</pre>
<pre>{{stage | json}}</pre> -->
<section>
  <div class="container">
    <ng-container>
      <!--
      <div class="vertical-line">
          <p>Offre de stage</p>
          <h1>Intégrateur Web junior</h1>
      </div>-->
      <table class="table-titre">
        <tr>
          <td class="td-offre-details">
            <p class="soustitre-fiche">Offre de stage</p>
            <h1 class="titre-offre">Intégrateur Web junior</h1>
          </td>
        </tr>
      </table>
      <div class="btn-control">
        <ng-container matColumnDef="actions" class="text-underline">
          <div class="example-button-row">
            <button mat-flat-button class="btn" (click)="onDoneClick()">
              <mat-icon id="done">done</mat-icon>
            </button>

            <button mat-flat-button class="btn" (click)="onEditClick()">
              <mat-icon id="edit">edit</mat-icon>
            </button>

            <button mat-flat-button class="btn" (click)="onDeleteClick()">
              <mat-icon id="cancel">cancel</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <div class="fiche">
        <div class="fiche">
          <h2 id="nom-demandeur">Description de la tâche</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
            cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed
            laboriosam
            itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at
            ullam
            quibusdam nostrum sapiente.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
            cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed
            laboriosam
            itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at
            ullam
            quibusdam nostrum sapiente.</p>
        </div>

        <div class="stage-item fiche">
          <div class="stage-item-col">
            <div class="stage-item-field">
              <div class="stage-item-label">Formation demandée</div>
              <div class="stage-item-value">{{ stage.program }}</div>
            </div>

            <div class="stage-item-field">
              <div class="stage-item-label">Exigences</div>
              <div class="stage-item-value">{{ stage.requirements }}</div>
            </div>
          </div>
        </div>

        <div class="fiche">
          <h2>Information sur le stage</h2>
        </div>

        <div class="stage-item fiche">
          <div class="stage-item-col">
            <div class="stage-item-field">
              <div class="stage-item-label">Type de stage</div>
              <div class="stage-item-value">{{ stage.stageType }}</div>
            </div>
            <div class="stage-item-field">
              <div class="stage-item-label">Nombre d'heures par semaine</div>
              <div class="stage-item-value">{{ stage.hoursPerWeek }}</div>
            </div>
            <div class="stage-item-field">
              <div class="stage-item-label">Rémunération</div>
              <div class="stage-item-value">{{ stage.additionalInfo }}</div>
            </div>
          </div>

          <div class="stage-item-col">
            <div class="stage-item-field">
              <div class="stage-item-label">Date de début</div>
              <div class="stage-item-value">{{ stage.startDate | date }}</div>
            </div>
            <div class="stage-item-field">
              <div class="stage-item-label">Date de fin</div>
              <div class="stage-item-value">{{ stage.endDate | date }}</div>
            </div>
          </div>
        </div>

        <div class="fiche">
          <h2>Informations supplémentaires</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
            cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed
            laboriosam
            itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at
            ullam
            quibusdam nostrum sapiente.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
            cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed
            laboriosam
            itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at
            ullam
            quibusdam nostrum sapiente.</p>
        </div>
        <div class="btn-retour">
          <a routerLink="/sidenav/tableau-gestion-offre-stage">Retour</a>
        </div>
      </div>
    </ng-container>
  </div>
</section>
