<!-- <pre>{{stageId | json}}</pre>
<pre>{{stage | json}}</pre> -->
<div class="vertical-line">
    <p>Offre de stage</p>
    <h1>Intégrateur Web junior</h1>
</div>
  <div class="btn-control">
    <ng-container matColumnDef="actions" class="text-underline">
      <div class="example-button-row">
        <button mat-flat-button class="btn" (click)="onDoneClick()">
          <mat-icon id="done">done</mat-icon>
        </button>
  
        <button mat-flat-button class="btn" (click)="onEditClick()">
          <mat-icon id="edit">edit</mat-icon>
        </button>
  
        <button mat-flat-button class="btn" (click)="onDeleteClick()">
          <mat-icon id="cancel">cancel</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
  
  <div class="fiche">
    <!-- fiche-demande-stage.component.html -->
    <div class="fiche">
      <h1>Description de la tâche</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
        cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam
        itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam
        quibusdam nostrum sapiente.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
        cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam
        itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam
        quibusdam nostrum sapiente.</p>
  
    </div>

    <div class="stage-item fiche">
  
      <div class="stage-item-col">
        <div class="stage-item-field">
          <div class="stage-item-label">Formation demandées</div>
          <div class="stage-item-value">{{ stage.program }}</div>
        </div>
        <!-- <div class="stage-item-field">
          <div class="stage-item-label">Secteur d'activité</div>
          <div class="stage-item-value">{{ stage.activitySector }}</div>
        </div> -->
        <div class="stage-item-field">
          <div class="stage-item-label">Exigences</div>
          <div class="stage-item-value">{{ stage.requirements }}</div>
        </div>
      </div>
  
      <!-- <div class="stage-item-col">
        <div class="stage-item-field">
          <div class="stage-item-label">Établissement d'enseignement</div>
          <div class="stage-item-value">{{ stage.additionalInfo }}</div>
        </div>
        <div class="stage-item-field">
          <div class="stage-item-label">Ville</div>
          <div class="stage-item-value">{{ stage.enterprise.city}}</div>
        </div>
        <div class="stage-item-field">
          <div class="stage-item-label">Région</div>
          <div class="stage-item-value">{{ demandeStage.region.label }}</div>
        </div>
      </div> -->
  
    </div>
  
    <div class="fiche">
      <h2>Information sur le stage</h2>
    </div>
  
    <div class="stage-item fiche">
  
      <div class="stage-item-col">
        <div class="stage-item-field">
          <div class="stage-item-label">Type de stage</div>
          <div class="stage-item-value">{{ stage.stageType }}</div>
        </div>
        <div class="stage-item-field">
          <div class="stage-item-label">Nombre d'heures par semaine</div>
          <div class="stage-item-value">{{ stage.hoursPerWeek }}</div>
        </div>
        <div class="stage-item-field">
          <div class="stage-item-label">Rémunération</div>
          <div class="stage-item-value">{{ stage.additionalInfo }}</div>
        </div>
      </div>
  
      <div class="stage-item-col">
        <div class="stage-item-field">
          <div class="stage-item-label">Date de début</div>
          <div class="stage-item-value">{{ stage.startDate | date }}</div>
        </div>
        <div class="stage-item-field">
          <div class="stage-item-label">Date de fin</div>
          <div class="stage-item-value">{{ stage.endDate | date }}</div>
        </div>
  
      </div>
  
    </div>
  
  
    <div class="fiche">
      <h2>Informations supplémentaires</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
        cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam
        itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam
        quibusdam nostrum sapiente.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi,
        cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam
        itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam
        quibusdam nostrum sapiente.</p>
  
    </div>
  
  
    <!-- <div class="download-container">
      <a href="../../assets/img/fichier.pdf" target="_blank" class="download-link">
        <button mat-icon-button class="btn-telecharger">
          <mat-icon class="cloud-download-icon">cloud_download</mat-icon>
          <span class="download-label">Télécharger le CV</span>
        </button>
      </a>
    </div> -->
  
  

    <div class="btn-retour">
      <a routerLink="/sidenav/tableau-gestion-offre-stage">Retour</a>
    </div>
  
    <!-- <div *ngIf="!stage">
      <p>La demande de stage demandée n'existe pas.</p>
    </div> -->
  
  </div>






<!-- 
<mat-card class="card-container">
  <div class="btn-control">
    <ng-container matColumnDef="actions" class="text-underline">
      <div class="example-button-row">
        <button mat-flat-button class="btn" (click)="onDoneClick()">
          <mat-icon id="done">done</mat-icon>
        </button>

        <button mat-flat-button class="btn" (click)="onEditClick()">
          <mat-icon id="edit">edit</mat-icon>
        </button>

        <button mat-flat-button class="btn" (click)="onDeleteClick()">
          <mat-icon id="cancel">cancel</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

    <mat-card-title>
        <div class="line-height">
            <div class="ligne-verticale">
                <h5 class="heading">Offre de stage</h5><br>
                <h1>Intégrateur Web junior</h1><br>
                <h4>Acolyte communication</h4>
            </div>
        </div>
    </mat-card-title>
    <mat-card-subtitle>
        <h3>Description de la tâche</h3>
    </mat-card-subtitle>
    <mat-card-content>
        <div class="font-size">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam justo. Aliquam interdum facilisis eros, ut
                dapibus quam hendrerit nec. Vestibulum vel blandit lorem. Praesent laoreet quis tortor quis pharetra. Nulla dictum erat id
                nisl pulvinar, ac aliquam lectus laoreet. Aliquam commodo pulvinar odio vitae interdum. Phasellus ut ante efficitur, venenatis
                purus sit amet, condimentum leo. Pellentesque nulla sem, consectetur.
                <br>
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor sint, sit harum praesentium nesciunt vitae tempora itaque,
                rem recusandae, temporibus rerum perferendis laboriosam ea quas adipisci quibusdam repudiandae voluptatem dolorum.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, perspiciatis facere totam minima mollitia provident deleniti debitis
                culpa possimus officiis quaerat dolore ullam reiciendis unde sunt corporis maxime necessitatibus cupiditate.
            </p>



                <div class="ligne-verticale2 margin">
                    <h6 class="block">Programme de Formation</h6>
                        <p>
                            Diplôme d'études collégiales ou équivalent
                        </p>
                </div>

                <div class="ligne-verticale2 margin">
                    <h6 class="block">Exigences</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam justo. Aliquam interdum facilisis eros, ut
                            dapibus quam hendrerit nec. Vestibulum vel blandit lorem. Praesent laoreet quis tortor quis pharetra. Nulla dictum erat id
                            nisl pulvinar, ac aliquam lectus laoreet. Aliquam commodo pulvinar odio vitae interdum. Phasellus ut ante efficitur,
                            venenatis purus sit amet, condimentum leo. Pellentesque nulla sem, consectetur.
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam justo. Aliquam interdum facilisis eros, ut
                            dapibus quam hendrerit nec. Vestibulum vel blandit lorem. Praesent laoreet quis tortor quis pharetra. Nulla dictum erat id
                            nisl pulvinar, ac aliquam lectus laoreet. Aliquam commodo pulvinar odio vitae interdum. Phasellus ut ante efficitur,
                            venenatis purus sit amet, condimentum leo. Pellentesque nulla sem, consectetur.
                        </p>
                </div>

            <h5 class="margin-title">Informations sur le stage recherché</h5>

            <div class="flex" >
                <div class="ligne-verticale2">
                    <h6 class="block">Type de stage</h6>
                        <p>
                            Temps plein
                        </p>

                </div>
                <div class="ligne-verticale2">
                    <h6 class="block">Date de début</h6>
                        <p>
                            2022-05-25
                        </p>

                </div>
            </div>

            <div class="flex">
                <div class="ligne-verticale2 margin">
                    <h6 class="block">Nombre d'heures pas semaine</h6>
                        <p>
                            35 heures par semaine
                        </p>

                </div>

                <div class="ligne-verticale2 margin">
                    <h6 class="block">Date de fin</h6>
                        <p>
                            2022-09-01
                        </p>

                </div>
            </div>

                <div class="ligne-verticale2 margin">
                    <h6 class="block">Rémunération</h6>
                        <p>
                            À discuter
                        </p>
                </div>

            <h5 class="margin-title">Informations suplémentaires</h5>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam justo. Aliquam interdum facilisis eros, ut
                    dapibus quam hendrerit nec. Vestibulum vel blandit lorem. Praesent laoreet quis tortor quis pharetra. Nulla dictum erat id
                    nisl pulvinar, ac aliquam lectus laoreet. Aliquam commodo pulvinar odio vitae interdum. Phasellus ut ante efficitur, venenatis
                    purus sit amet, condimentum leo. Pellentesque nulla sem, consectetur.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam justo. Aliquam interdum facilisis eros, ut
                    dapibus quam hendrerit nec. Vestibulum vel blandit lorem. Praesent laoreet quis tortor quis pharetra. Nulla dictum erat id
                    nisl pulvinar, ac aliquam lectus laoreet. Aliquam commodo pulvinar odio vitae interdum. Phasellus ut ante efficitur, venenatis
                    purus sit amet, condimentum leo. Pellentesque nulla sem, consectetur.
                </p>

        </div>

    </mat-card-content>
</mat-card> -->

