
<!-- <pre>{{stageId | json}}</pre>
<pre>{{stage | json}}</pre> -->



<!-- fiche-demande-stage.component.html -->
<div>
  <h2>Kevin Labonté</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi, cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam quibusdam nostrum sapiente.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi, cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam quibusdam nostrum sapiente.</p>

</div>
<div class="stage-item" *ngIf="!loading && isNotEmpty()">

  <div class="stage-item-col">
    <div class="stage-item-field">
      <div class="stage-item-label">Programme de formation</div>
      <div class="stage-item-value">{{ stage.program }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Secteur d'activité</div>
      <div class="stage-item-value">{{ stage.activitySector }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Compétences</div>
      <div class="stage-item-value">{{ stage.description }}</div>
    </div>
  </div>

  <div class="stage-item-col">
    <div class="stage-item-field">
      <div class="stage-item-label">Établissement d'enseignement</div>
      <div class="stage-item-value">{{ stage.additionalInfo }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Ville</div>
      <div class="stage-item-value">{{ stage.region }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Région</div>
      <div class="stage-item-value">{{ stage.region }}</div>
    </div>
  </div>

</div>

<h2>Information sur le stage recherché</h2>
<div class="stage-item" *ngIf="!loading && isNotEmpty()">

  <div class="stage-item-col">
    <div class="stage-item-field">
      <div class="stage-item-label">Type de stage</div>
      <div class="stage-item-value">{{ stage.program }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Nombre d'heures par semaine</div>
      <div class="stage-item-value">{{ stage.activitySector }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Rémunération</div>
      <div class="stage-item-value">{{ stage.description }}</div>
    </div>
  </div>

  <div class="stage-item-col">
    <div class="stage-item-field">
      <div class="stage-item-label">Date de début</div>
      <div class="stage-item-value">{{ stage.additionalInfo }}</div>
    </div>
    <div class="stage-item-field">
      <div class="stage-item-label">Date de fin</div>
      <div class="stage-item-value">{{ stage.region }}</div>
    </div>

  </div>

</div>


<div>
  <h2>Informations supplémentaires</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi, cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam quibusdam nostrum sapiente.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officiis quis vitae est eligendi, cupiditate iure ipsa quidem ipsam iste provident distinctio rerum cum pariatur hic culpa minima sed laboriosam itaque quibusdam sit sapiente dicta ea dolorem. Dolores alias aliquid, quis, eum assumenda ut dolorem at ullam quibusdam nostrum sapiente.</p>

</div>
<a class="btn-retour" routerLink="/sidenav/demandesdestage">Back</a>

<div *ngIf="!stage">
  <p>La demande de stage demandée n'existe pas.</p>
</div>


