@import 'src/variables';

@mixin stage-item-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-left: 5px solid $darkgrey;
  padding-left: 10px;

  .stage-item-label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .stage-item-value {
    display: inline-block;
  }
}


.stage-item {
  display: flex;
  margin-bottom: 20px;

  .stage-item-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .stage-item-field {
      @include stage-item-field;
    }
  }
}

/*boutons en haut a droite*/
.btn-control {
  display: flex;
  justify-content: right;
  margin: 10px 0;
}

.btn {
  background-color: transparent;
}

.mat-flat-button {
  min-width: 30px;
  padding: 0 5px;
}


.mat-icon {
  font-weight: 700;

  &#done {
    color: $accept;
  }

  &#edit {
    color: $darker-entreprise;
  }

  &#cancel {
    color: $offre;
  }
}

/*
.vertical-line {
  display: inline-block;
  border-left: 10px solid #CD9635;
  margin-left: 35px;
  vertical-align: middle;
  padding-left: 10px;
}*/

.soustitre-fiche {
  margin-left: 5px;
  font-weight: bold;
}

.table-titre {
  width: 400px;
}

.td-demande-details {
  display: flex;
  border-left: 10px solid $demande;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 10px;
}

.titre-demande {
  margin-top: 2px;
  margin-left: 5px;
  color: $darkgrey;
  font-size: 2em;
  font-weight: 600;
}

.fiche {
  background-color: $white;
  padding: 2em;

  h2 {
    padding-top: 2rem;
    color: $demande;
  }
}

.btn-retour {
  margin-left: 2rem;

  a {
    text-decoration: none;
    color: $demande;
  }
}

.btn-telecharger {
  margin-left: 2em;
}

/*
.download-container {
  display: flex;
  justify-content: left;
  //background-color: #cb912b ;
  //width: 20%;
  //margin-left: 2rem;
}*/

.btn-telecharger {
  border: 0 transparent;
  border-radius: 7px;
  width: fit-content;
  background-color: $demande;
  color: $white;

  &:hover {
    background-color: $dark-demande;
  }
}

.cloud-download-icon {
  font-size: 24px;
  margin-right: 8px;
}

/*
.download-label {
  font-size: 16px;
}*/

.download-link {
  text-decoration: none;
  color: inherit;
}

#nom-demandeur {
  font-size: 30px;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .stage-item {
    flex-direction: column;

    .stage-item-col {
      width: 100%;

      .stage-item-field {
        @include stage-item-field;
        border: none;
        padding-left: 0;

        .stage-item-label {
          font-size: 1.2rem;
        }
      }
    }
  }
}
