<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened [disableClose]="true">
    <!--ici se trouve le menu de l'application-->
    <img src="../../assets/img/logo248x86.png" alt="logo" class="logo">
    <div class="container-nav">
      <nav>
        <ul>
          <li><a  class="color-tableaubord" routerLink="/tableaudebord"  (click)="toggleSideMenu('section-1')">
              <mat-icon>home</mat-icon>
              <span> Tableau de bord</span>
            </a></li>
          <li><a class="color-demandestage" routerLink="/demandesdestage" (click)="toggleSideMenu('section-2')">
              <mat-icon>event_note</mat-icon>
              <span> Demandes de stages</span>
            </a></li>
          <li><a class="color-offrestage" routerLink="/offredestage" (click)="toggleSideMenu('section-3')">
              <mat-icon>near_me</mat-icon>
              <span>Offres de stage</span>
            </a></li>
          <li><a class="color-candidat" routerLink="/candidats" (click)="toggleSideMenu('section-4')">
              <mat-icon>person</mat-icon>
              <span> Candidats</span>
            </a></li>
          <li><a class="color-entreprise" routerLink="/entreprises" (click)="toggleSideMenu('section-5')">
              <mat-icon>business_center</mat-icon>
              <span> Entreprises</span>
            </a></li>
        </ul>
      </nav>
    </div>
  </mat-drawer>

  <!--bouton menu sort pour afficher le menu de la side nav-->

  <body>
    <header>
      <mat-toolbar>
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="sort icon" fontIcon="sort" class="material-symbols-outlined">Sort
            </mat-icon>
          </button>
          <app-header></app-header>
          <!-- <app-tableaudebord></app-tableaudebord> -->
        </div>
      </mat-toolbar>
    </header>

    <main>
      <div class="container">
        <!--groupe de card donnant un aperçu de nombre d'enregistrement par catégorie-->
        <section *ngIf="sideMenuContext === 'section-1'">
          <app-tableaudebord></app-tableaudebord>
        </section>

         <!-- Test  Jean-->
        <!--Tableau de gestion de demandes de stage-->
        <section *ngIf="sideMenuContext === 'section-2'">
          <app-tableau-gestion-demande-stage></app-tableau-gestion-demande-stage>

        </section>

        <!--Tableau de gestion d'offres de stage à ajouter n'existe pas encore-->
        <section *ngIf="sideMenuContext === 'section-3'">
          <app-tableau-affichage-offre-stage></app-tableau-affichage-offre-stage>
        </section>


        <section *ngIf="sideMenuContext === 'section-4'">
          <!--Composants à ajouter Candidat  -->
          <app-ajout-candidat></app-ajout-candidat>

        </section>
        <section *ngIf="sideMenuContext === 'section-5'">
          <!--Composants à ajouter Candidat  -->
        <app-entreprises></app-entreprises>

        </section>
      </div>
    </main>


    <!-- <main>
      <div class="container">
        groupe de card donnant un aperçu de nombre d'enregistrement par catégorie
        <section>

        </section>

        Tableau d'affichage des dernières demandes de stage
        <section>
          <app-tableau-affichage-demande-stage></app-tableau-affichage-demande-stage>
        </section>

        Tableau d'affichage des dernières offres de stage
        <section>
          <app-tableau-affichage-offre-stage></app-tableau-affichage-offre-stage>
        </section>

        <!-- Test  Jean-->
        <section>
          <app-tableau-gestion-demande-stage></app-tableau-gestion-demande-stage>
          <app-login></app-login>
        </section>
      </div>
    </main> -->

    <footer>
    </footer>
  </body>
</mat-drawer-container>
