<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened [disableClose]="true">
    <!--ici se trouve le menu de l'application-->
    <img src="../../assets/img/logo248x86.png" alt="logo" class="logo">
    <div class="container-nav">
      <nav>
        <ul>
          <li><a href="" class="color-tableaubord" routerLink="/tableaudebord">
              <mat-icon>home</mat-icon>
              <span> Tableau de bord</span>
            </a></li>
          <li><a href="" class="color-demandestage" routerLink="/demandesdestage">
              <mat-icon>event_note</mat-icon>
              <span> Demandes de stages</span>
            </a></li>
          <li><a href="" class="color-offrestage" routerLink="/offredestage">
              <mat-icon>near_me</mat-icon>
              <span>Offres de stage</span>
            </a></li>
          <li><a href="" class="color-candidat" routerLink="/candidats">
              <mat-icon>person</mat-icon>
              <span> Candidats</span>
            </a></li>
          <li><a href="" class="color-entreprise" routerLink="/entreprises">
              <mat-icon>business_center</mat-icon>
              <span> Entreprises</span>
            </a></li>
        </ul>
      </nav>
    </div>
  </mat-drawer>

  <!--bouton menu sort pour afficher le menu de la side nav-->

  <body>
    <header>
      <mat-toolbar>
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="sort icon" fontIcon="sort" class="material-symbols-outlined">Sort
            </mat-icon>
          </button>
          <app-header></app-header>
        </div>
      </mat-toolbar>
    </header>

    <main>
      <div class="container">
        <!--groupe de card donnant un aperçu de nombre d'enregistrement par catégorie-->
        <section>

        </section>

        <!--Tableau d'affichage des dernières demandes de stage-->
        <section>
          <app-tableau-affichage-demande-stage></app-tableau-affichage-demande-stage>
        </section>

        <!--Tableau d'affichage des dernières offres de stage-->
        <section>
          <app-tableau-affichage-offre-stage></app-tableau-affichage-offre-stage>
        </section>

        <!-- Test  Jean-->
        <section>
          <app-tableau-gestion-demande-stage></app-tableau-gestion-demande-stage>
          <app-login></app-login>
        </section>
      </div>
    </main>

    <footer>
    </footer>
  </body>
</mat-drawer-container>
