/* Les couleurs */

/* couleurs de base */
$dashboard: #089da4;
$demande: #cb912b;
$offre: #bb2026;
$candidat: #7f2987;
$entreprise: #86a9e6;

/* hover*/
$dark-dashboard: #05666b;
$dark-demande:#986d22;
$dark-offre: #821519;
$dark-candidat: #4a1150;
$dark-entreprise: #5e7eb5;
$darker-entreprise: #2b497c;
$color4: #242222;

$darkgrey: #707070;
$eye: #22a6ac;
$edit: #f89747;
$trash: #f26689;
$accept: #07a04a;
$refuse: #a00707;
$bg-color: #f5f5f5;
$white: #fff;
